In [5]:
import numpy as np 
import pandas as pd
import time

In [6]:
s_time = time.time()
book = pd.read_csv("books.csv", sep = ";",error_bad_lines = False,encoding = "latin-1",chunksize = 1000)
e_time = time.time()

print("with chunks : ",(e_time - s_time)," sec")
book = pd.concat(book)

book.sample(3)

C:\Users\badol\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\n'

with chunks :  0.020006656646728516  sec

b'Skipping line 43667: expected 8 fields, saw 10\n'
b'Skipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\n'
b'Skipping line 104319: expected 8 fields, saw 9\n'
b'Skipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\n'
b'Skipping line 150789: expected 8 fields, saw 9\n'
b'Skipping line 157128: expected 8 fields, saw 9\n'
b'Skipping line 180189: expected 8 fields, saw 9\n'
b'Skipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\n'
b'Skipping line 220626: expected 8 fields, saw 9\n'
b'Skipping line 227933: expected 8 fields, saw 11\n'
b'Skipping line 228957: expected 8 fields, saw 10\n'
b'Skipping line 245933: expected 8 fields, saw 9\n'
b'Skipping line 251296: expected 8 fields, saw 9\n'
b'Skipping line 259941: expected 8 fields, saw 9\n'
b'Skipping line 261529: expected 8 fields, saw 9\n'

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
18133,0886778212,Mob Magic,Brian Thomsen,1998,Daw Books,http://images.amazon.com/images/P/0886778212.0...,http://images.amazon.com/images/P/0886778212.0...,http://images.amazon.com/images/P/0886778212.0...
116869,3499223635,Engel im Schnee.,Stewart ONan,1998,Rowohlt Tb.,http://images.amazon.com/images/P/3499223635.0...,http://images.amazon.com/images/P/3499223635.0...,http://images.amazon.com/images/P/3499223635.0...
197563,3552039082,VerrÃ¤ter leben lÃ¤nger: Roman,Richard Lourie,1987,Zsolnay,http://images.amazon.com/images/P/3552039082.0...,http://images.amazon.com/images/P/3552039082.0...,http://images.amazon.com/images/P/3552039082.0...

In [7]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [8]:
book.drop(['Image-URL-S','Image-URL-M'],axis = 1,inplace = True)

In [9]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-L          271357 non-null  object
dtypes: object(6)
memory usage: 12.4+ MB

In [10]:
book["Year-Of-Publication"].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, 2012, 2006, '1976', '1984',
       '2000', '2003', '1994', '1985', '1999', '2004', '1990', '1953',
       '0', '1997', '1988', '1967', '1974', '1992', '1989', '1956',
       '2002', '2001', '1995', '1982', '1998', '1996', '1970', '1993',
       '1961', '1991', '1980', '1973', '1986', '1983', '1979', '1987',
       '1981', '1978', '1972', '1940', '1971', '1977',
       'DK Publishing Inc', '1975', '1962', '1957', '1943', '1968',
       '1958', 'Gallimard', '1969', '1965', '1960', '1966', '2005',
       '1920', '1909', 1909, 2008, 1378, 1919, 1922, 1897, 2024, 1376,
       2037], dtype=object)

In [11]:
book.loc[book["Year-Of-Publication"] == 'DK Publishing Inc',:]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,NaN

In [12]:
book.loc[book["Year-Of-Publication"] == 'Gallimard',:]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,NaN

In [13]:
book = book[(book["Year-Of-Publication"] != 'DK Publishing Inc') & (book["Year-Of-Publication"] != 'Gallimard')]

In [14]:
book.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-L            object
dtype: object

In [15]:
book["Publisher"].isnull().sum()

2

In [16]:
book = book.dropna(subset = ["Publisher"])

In [17]:
book["Publisher"].isnull().sum()

0

In [18]:
book["Book-Title"].isnull().sum()

0

In [19]:
book["Book-Author"].isnull().sum()

1

In [20]:
book = book.dropna(subset = ["Book-Author"])

In [21]:
book.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-L            object
dtype: object

In [22]:
book['Year-Of-Publication'] = book['Year-Of-Publication'].apply(str)

In [23]:
book.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-L            object
dtype: object

In [24]:
book["Book-Title"] = book["Book-Title"].apply(lambda x:x.split())

In [25]:
book["Book-Author"] = book["Book-Author"].apply(lambda x:x.split())

In [26]:
book["Publisher"] = book["Publisher"].apply(lambda x:x.split())

In [27]:
book['Year-Of-Publication'] = book['Year-Of-Publication'].apply(lambda x:x.split())

In [28]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,"[Classical, Mythology]","[Mark, P., O., Morford]",[2002],"[Oxford, University, Press]",http://images.amazon.com/images/P/0195153448.0...
1,0002005018,"[Clara, Callan]","[Richard, Bruce, Wright]",[2001],"[HarperFlamingo, Canada]",http://images.amazon.com/images/P/0002005018.0...
2,0060973129,"[Decision, in, Normandy]","[Carlo, D'Este]",[1991],[HarperPerennial],http://images.amazon.com/images/P/0060973129.0...
3,0374157065,"[Flu:, The, Story, of, the, Great, Influenza, ...","[Gina, Bari, Kolata]",[1999],"[Farrar, Straus, Giroux]",http://images.amazon.com/images/P/0374157065.0...
4,0393045218,"[The, Mummies, of, Urumchi]","[E., J., W., Barber]",[1999],"[W., W., Norton, &amp;, Company]",http://images.amazon.com/images/P/0393045218.0...

In [29]:
book['tags'] =  book["Book-Author"] + book["Book-Title"] + book["Publisher"] + book['Year-Of-Publication']

In [30]:
book['tags'][0]

['Mark',
 'P.',
 'O.',
 'Morford',
 'Classical',
 'Mythology',
 'Oxford',
 'University',
 'Press',
 '2002']

In [31]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,tags
0,0195153448,"[Classical, Mythology]","[Mark, P., O., Morford]",[2002],"[Oxford, University, Press]",http://images.amazon.com/images/P/0195153448.0...,"[Mark, P., O., Morford, Classical, Mythology, ..."
1,0002005018,"[Clara, Callan]","[Richard, Bruce, Wright]",[2001],"[HarperFlamingo, Canada]",http://images.amazon.com/images/P/0002005018.0...,"[Richard, Bruce, Wright, Clara, Callan, Harper..."

In [32]:
book_data = book.drop(columns = ['Book-Author','Year-Of-Publication','Publisher'])

In [33]:
book_data.head(2)

,ISBN,Book-Title,Image-URL-L,tags
0,0195153448,"[Classical, Mythology]",http://images.amazon.com/images/P/0195153448.0...,"[Mark, P., O., Morford, Classical, Mythology, ..."
1,0002005018,"[Clara, Callan]",http://images.amazon.com/images/P/0002005018.0...,"[Richard, Bruce, Wright, Clara, Callan, Harper..."

In [34]:
book_data['tags'] = book_data['tags'].apply(lambda x: " ".join(x))

In [35]:
book_data['Book-Title'] = book_data['Book-Title'].apply(lambda x: " ".join(x))

In [36]:
book_data['tags'][0]

'Mark P. O. Morford Classical Mythology Oxford University Press 2002'

In [37]:
book_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271354 entries, 0 to 271359
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ISBN         271354 non-null  object
 1   Book-Title   271354 non-null  object
 2   Image-URL-L  271354 non-null  object
 3   tags         271354 non-null  object
dtypes: object(4)
memory usage: 18.4+ MB

In [38]:
book_data.head(2)

,ISBN,Book-Title,Image-URL-L,tags
0,0195153448,Classical Mythology,http://images.amazon.com/images/P/0195153448.0...,Mark P. O. Morford Classical Mythology Oxford ...
1,0002005018,Clara Callan,http://images.amazon.com/images/P/0002005018.0...,Richard Bruce Wright Clara Callan HarperFlamin...

In [39]:
# from sklearn.feature_extraction.text import CountVectorizer
# cv = CountVectorizer(max_features=500,stop_words='english')

In [40]:
# vector = cv.fit_transform(book_data['tags']).toarray()

In [41]:
# vector.shape

In [42]:
# from sklearn.metrics.pairwise import cosine_similarity

In [43]:
# book_data.info()

In [44]:
# vector.astype('int32')

In [45]:
# vector.astype('float32')

In [46]:
# vector.size

In [47]:
# vector = vector.astype('int32')

In [48]:
# vector.dtype

In [49]:
# vector.size

In [50]:
# vector[0]

In [51]:
book_data["Book-Title_mode"] = book_data["Book-Title"].str.replace("[^a-zA-Z0-9 ]", "", regex=True)
book_data["Book-Title_mode"] = book_data["Book-Title_mode"].str.lower()
book_data["Book-Title_mode"] = book_data["Book-Title_mode"].str.replace("\s+", " ", regex=True)
book_data = book_data[book_data["Book-Title_mode"].str.len() > 0]

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [53]:
tfidf = vectorizer.fit_transform(book_data["Book-Title_mode"])

In [77]:
tfidf.dtype

dtype('float64')

In [54]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import re

def show_image(val):
    return '<a href="{}"><img src="{}" width=70></img></a>'.format(val, val)

def search(query,vectorizer):
    processed = re.sub("[^a-zA-Z0-9 ]", "", query.lower())
    query_vec = vectorizer.transform([query])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -10)[-10:]
    results = book_data.iloc[indices]
    results = results.sort_values("ISBN", ascending=False)
    
    return results.head(5).style.format({'Image-URL-L': show_image})

In [55]:
search(" space ",vectorizer)

In [56]:
liked_book = ["0766011178","2877306127","225301883X	","0743412524","0382180356"]

In [61]:
# book_rating.tail()

In [62]:
# book_rating.info()

In [63]:
# book_rating.isnull().sum()

In [64]:
# book_rating['Book-Rating'] = book_rating['Book-Rating'].astype(str)

In [65]:
# book_rating['User-ID'] = book_rating['User-ID'].astype(str)

In [66]:
# book_rating.info()

In [67]:
# overlap_users = set()

# with open("ratings.csv",'r',encoding= 'latin-1') as f:
#     while True:
#         line = f.readline()
#         if not line:
#             break
        
       
#         user_id, isbn,book_rating = line.strip().split(";")
        
#         if user_id in overlap_users:
#             continue
        
#         if liked_book == isbn :
#                 overlap_users.add(user_id)

###